mixin txt(input)
 li
    input.input__txt(
      type="email"
      id=input.name
      name=input.name
      placeholder=input.placeholder
      data-required=input.required
    )&attributes(attributes)
